<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    
    <!-- Required to prompt APK updates natively via background WorkManager.
         F-Droid prohibits this, so it is strictly isolated to the GMS compile variant. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application>
        <!-- Google Cast Options Provider -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.music.vivi.cast.CastOptionsProvider" />
    </application>

</manifest>
