name: CI & Debug Build

on:
  push:
    branches: [ '**' ]
    paths-ignore:
      - 'README.md'
      - 'fastlane/**'
      - 'assets/**'
      - '.github/**/*.md'
  pull_request:
    branches: [ '**' ]

jobs:
  build_debug:
    name: Build Universal Foss Debug
    runs-on: ubuntu-latest
    if: github.actor != 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-disabled: true

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build Debug APK
        env:
          LASTFM_API_KEY: ${{ secrets.LASTFM_API_KEY }}
          LASTFM_SECRET: ${{ secrets.LASTFM_SECRET }}
        run: |
          ./gradlew assembleUniversalFossDebug --no-configuration-cache --console=plain --warning-mode summary

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: app-universal-foss-debug
          path: app/build/outputs/apk/universal/foss/debug/*.apk